$primary: $pink !default;

$white: $text;
$gray-100: $subtext1;
$gray-200: $subtext0;
$gray-300: $overlay2;
$gray-400: $overlay1;
$gray-500: $overlay0;
$gray-600: $surface2;
$gray-700: $surface1;
$gray-800: $surface0;
$gray-900: $base;
$black: $mantle;
$dark: $gray-800;
$orange: $peach;
$cyan: $sky;
$purple: $mauve;
$indigo: $lavender;
$body-bg: $gray-900;
$body-color: $white;
$border-radius: 0.5rem;
$border-radius-lg: 0.7rem;
$border-radius-sm: 0.3rem;
$toast-border-radius: $border-radius;
$input-bg: $gray-800;
$secondary: $gray-800;
$border-color: $gray-700;
$input-color: $white;
$card-bg: $gray-900;
$modal-content-bg: $black;
$modal-content-color: $white;
$list-group-bg: $gray-900;
$list-group-border-color: rgba($border-color, 0.5);
$list-group-color: $white;
$component-active-color: $dark;
$input-group-addon-bg: $gray-700;
$input-group-addon-color: $gray-300;
$nav-tabs-border-color: $border-color;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;
$nav-tabs-link-active-bg: $gray-800;
$nav-tabs-link-active-color: $white;
$dropdown-border-color: $border-color;
$dropdown-bg: $black;
$dropdown-link-color: $body-color;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $gray-900;
$pagination-bg: $gray-800;
$pagination-disabled-bg: $gray-800;
$pagination-disabled-border-color: $border-color;
$breadcrumb-bg: $gray-800;
$pagination-border-color: $border-color;
$jumbotron-bg: $gray-800;
$table-bg-level: 5;
$table-border-level: 3;
$input-disabled-bg: $black;
$input-border-color: $border-color;
$navbar-light-color: $white;
$link-color: $primary;
$navbar-dark-color: $white;
$hr-border-color: $border-color;
$card-border-color: $border-color;
$mark-bg: rgba($primary, 0.1);
$pre-color: $body-color;

@import "../node_modules/bootstrap/scss/bootstrap";

@import "./patches.scss";
